{% extends "admin/layout.html.twig" %}

{% block title %}{{ ('admin.user.title.' ~ type)|trans({}, 'app') }}{% endblock %}
{% block mainTitle %}
    {{ ('admin.user.title.' ~ type)|trans({}, 'app') }}
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-12">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.username) }}
                    {% if type == 'edit' %}
                        <div class="alert alert-warning">
                            {{ 'admin.flash.user.password'|trans({}, 'app') }}
                        </div>
                    {% endif %}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                    {% if form.enabled is defined %}
                        {{ form_row(form.roles) }}
                        {{ form_row(form.enabled) }}
                    {% endif %}
                </div>
                <button class="btn btn-info btn-save">
                    {% set label_button = type == 'edit' ? 'admin.common.update.button' : 'admin.common.create.button'  %}
                    <i class="fa fa-save"></i> {{ label_button|trans({}, 'app') }}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
