{% extends "admin/layout.html.twig" %}

{% block title %}{{ ('admin.order.list.title')|trans({}, 'app') }}{% endblock %}
{% block mainTitle %}
<h1>{{ ('admin.order.list.title')|trans({}, 'app') }}</h1>
{% endblock %}


{% block options %}
    <a class="btn btn-success btn-xs" href="{{ path('admin_order_create') }}">
        <i class="fa fa-plus "></i> {{ 'admin.common.new.button'|trans({}, 'app') }}
    </a>
    <a class="btn btn-info btn-xs btn-search-open" href="#">
        <i class="fa fa-search "></i> {{ 'admin.common.search.button'|trans({}, 'app') }}
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 m-b-2 col-sm-12 search-zone"  {% if app.request.query.get('search') is empty %}style="display: none;"{% endif %}>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-inverse">
                        <div class="panel-body">
                            {% include "admin/order/parts/search.html.twig" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="table-app">
                <table class="table no-margin-botton table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="{% if pagination.isSorted('o.created') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'admin.common.created_at'|trans({}, 'app'), 'o.created') }}  <i class="fa fa-sort{% if pagination.isSorted('o.created') %}-{{ pagination.getDirection() }}{% endif %} pull-right"></i></th>
                        <th class="{% if pagination.isSorted('o.name') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'admin.common.form.name'|trans({}, 'app'), 'o.name') }}  <i class="fa fa-sort{% if pagination.isSorted('o.name') %}-{{ pagination.getDirection() }}{% endif %} pull-right"></i></th>
                        {% if is_granted('ROLE_PREPARATOR') %}
                            <th>{{ 'admin.common.creator'|trans({}, 'app') }}</th>
                        {% endif %}
                        <th class="{% if pagination.isSorted('o.state') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'admin.common.state'|trans({}, 'app'), 'o.state') }}  <i class="fa fa-sort{% if pagination.isSorted('o.state') %}-{{ pagination.getDirection() }}{% endif %} pull-right"></i></th>
                        <th class="{% if pagination.isSorted('o.updated') %}sorted{% endif %}">{{ knp_pagination_sortable(pagination, 'admin.common.updated_at'|trans({}, 'app'), 'o.updated') }}  <i class="fa fa-sort{% if pagination.isSorted('o.updated') %}-{{ pagination.getDirection() }}{% endif %} pull-right"></i></th>
                        <th>{{ 'admin.common.pdf'|trans({}, 'app') }}</th>
                        <th>{{ 'admin.common.actions'|trans({}, 'app') }}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for order in pagination %}
                        <tr>
                            <td style="vertical-align:middle; color:gray;width:70px;">{{ order.created|date("d/m/Y h:i", "Europe/Paris") }}</td>
                            <td style="vertical-align:middle;word-break: break-word;width: 120px;">{{ order.name }}</td>
                            {% if is_granted('ROLE_PREPARATOR') %}
                                <td>
                                    <a href="mailto:{{ order.creator.email }}">{{ order.creator.firstName ~ ' ' ~ order.creator.lastName }}</a>
                                </td>
                            {% endif %}
                            <td style="vertical-align:middle;">{% include 'admin/parts/state.html.twig' with {'state': order.state, 'before': order.beforeState} %}</td>
                            <td style="vertical-align:middle; color:gray;width:105px;">{{ order.updated|date("d/m/Y h:i", "Europe/Paris") }}</td>
                            <td>
                                {{ render(controller('App\\Controller\\Admin\\OrderController::pdfForm', { 'order': order  })) }}
                            </td>
                            <td style="text-align:center;vertical-align:middle;" id="actions">
                                {% if workflow_can(order, 'to_wait_client') or
                                    workflow_can(order, 'to_return_ok') or
                                    workflow_can(order, 'to_return_wait_return') or
                                    workflow_can(order, 'to_return_ok_wait_client') or
                                    workflow_can(order, 'to_wait_palette') or
                                    workflow_can(order, 'to_ready')
                                %}
                                    <a href="{{ path('admin_order_edit', {'id': order.id}) }}" class="btn btn-default">
                                        <i class="fa fa-eye"></i> {{ 'admin.common.see.button'|trans({}, 'app') }}
                                    </a>
                                {% endif %}
                                {% for transition in workflow_transitions(order) %}
                                    {% if transition.name != 'to_ready' %}
                                        <a href="{{ path('admin_order_apply_transition', {'id': order.id, 'transition': transition.name}) }}" class="btn btn-info">{{ ('admin.order.transition.' ~ transition.name)|trans({}, 'app') }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if is_granted('order-delete', order) %}
                                    <a href="{{ path('admin_order_delete', {'id': order.id}) }}" class="btn btn-danger delete-button">
                                        <i class="fa fa-trash-o" style="color:white;transition: all 30s linear;"></i> {{ 'admin.common.delete.button'|trans({}, 'app') }}
                                    </a>
                                {% endif %}
                                {% if order.filename is not null %}
                                    <a href="{{ asset('uploads/media/' ~ order.filename) }}" target="_blank" class="btn btn-success">
                                        <i class="fa fa-upload" style="color:white;transition: all 30s linear;"></i>{{ 'admin.common.download.button'|trans({}, 'app') }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="table-footer">
                    {% if pagination|length <= 0 %}
                        {{ 'admin.common.no_data.title'|trans({}, 'app') }}
                    {% endif %}

                    <div class="navigation">
                        {{ knp_pagination_render(pagination, 'admin/parts/sliding.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
