<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Gurubeer Order</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if is_granted('user-view', app.user) %}
            <a class="p-2 text-dark" href="{{ path('admin_order_list') }}">{{ 'admin.order.list.title'|trans({}, 'app') }}</a>
            <a class="p-2 text-dark" href="{{ path('admin_user_list') }}">{{ 'admin.users.menu.label'|trans({}, 'app') }}</a>
        {% endif %}
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <a class="p-2 text-dark" href="{{ path('admin_order_list', {'_switch_user': '_exit'}) }}">{{ 'admin.common.exit_impersonation.title'|trans({}, 'app') }}</a>
        {% endif %}
    </nav>
    <a class="btn btn-outline-primary" href="{{ path('logout') }}">{{ 'admin.common.logout.title'|trans({}, 'app') }}</a>
</div>
